.checkout {
  border-bottom: 1px solid #dfdfdf;
  padding: 30px 0;
  text-align: right;
}

.checkout p:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
}

.checkout p:nth-child(2) {
  margin-bottom: 15px;
}

.form-container {
  height: auto;
  padding: 40px 0;
}

.form-container h1 {
  font-size: 16px;
  word-spacing: 10;
  font-weight: 400;
  margin-bottom: 20px;
}

.form-container p {
  font-size: 13px;
  text-align: left;
  color: #757575;
  margin-bottom: 40px;
}

.form-container input {
  width: 100%;
  height: 35px;
  padding: 5px 0 5px 12px;
  color: #757575;
  margin-bottom: 20px;
}

.form-container .form-left,
.form-container .form-right {
  width: 50%;
}

.form-container .form-left {
  padding-right: 50px;
}

.form-container .form-right {
  padding-left: 50px;
  border-left: 1px solid #dfdfdf;
}

input[type="submit"] {
  background-color: black;
  color: #dfdfdf;
}

#heading {
  text-align: center;
  margin-top: 30px;
}
